@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want


html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
	/*
  background-image: linear-gradient(
      rgba(16, 167, 248, 0.05), 
      rgba(16, 167, 248, 0.05)
    ), url("sayagata-400px.png");
  background-repeat: repeat;
  */
	background-color: #E9EBEE;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


// start of welcome page styles
.welcome-header{
	margin-top: 75px;
	font-size: 35px;
	weight: bold;

}
.inner {
	display: inline;
	font-size: 55px;
	weight: thin;
}

.row {
	margin-top: 75px;
}

.basic:hover {
	background: yellow;
}

// end of welcome page styles

// start of login page styles
.login-wrapper {
	width: 300px;
	margin: auto;
	margin-top: 100px;
}

.login-button {
	margin: auto;
	margin-bottom: 10px;
	width: 85px;
}

// end of login page styles

// transition styles
.line {
	text-decoration: underline;
}

.link {
	margin-top: 25px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
// end of transition styles